<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans                                                                 
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    
    <!--Properties Usados-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>file:/siat/cob/configuracion/connections.properties</value>
        </property>
    </bean> 
    
    <!--Data Sources-->
    <!--COB-->
    <!--    <bean id="dataSourceCOB" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
        <property name="dataSourceName" value="ds"/>
        <property name="URL" value="${cob.url}"/>
        <property name="user" value="${cob.user}"/>
        <property name="password" value="${cob.password}"/>
        <property name="connectionCachingEnabled" value="true"/>
        <property name="connectionCacheProperties">
            <value>
              MinLimit:2
              MaxLimit:40
              InitialLimit:1
              ConnectionWaitTimeout:120
              InactivityTimeout:360
              AbandonedConnectionTimeout:60
              ClosestConnectionMatch:true
              ValidateConnection:true
            </value>
        </property>
    </bean>-->
    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.C3P0NativeJdbcExtractor"/>
    <bean id="dataSourceCOB" class = "com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="oracle.jdbc.OracleDriver" />
        <!--<property name="jdbcUrl" value="jdbc:oracle:thin:@//10.55.121.193:33400/STD_COB" />-->
        <property name="jdbcUrl" value="${cob.url}" />
        <property name="user" value="${cob.user}" />
        <property name="password" value="${cob.password}" /> 
        <!-- propiedades C3P0 -->
        <property name="acquireIncrement" value="5" />
        <property name="minPoolSize" value="20" />
        <property name="maxPoolSize" value="45" />
        <property name="maxStatementsPerConnection" value="100" />
        <property name="testConnectionOnCheckout" value="false"/>
        <property name="testConnectionOnCheckin" value="false"/>
        <property name="idleConnectionTestPeriod" value="420"/>
        <property name="preferredTestQuery" value="select a.dummy as adm, b.dummy as rfc from dual@ADMD_DBLINK a,dual@RFCD_DBLINK b"/>
        
        <property name="maxIdleTime" value="1200"/>
        <property name="maxIdleTimeExcessConnections" value="600"/>
        <property name="maxConnectionAge" value="420"/>
        
        <!--recuperacion-->
        <property name="acquireRetryAttempts" value="0"/>
        <property name="acquireRetryDelay" value="4000"/>
        <property name="breakAfterAcquireFailure" value="false"/>
    </bean>
    <bean id="transactionManager" 
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceCOB"/>
    </bean>

    <!--Estructura de cumplimiento-->
    <bean id="dataSourceDB2" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${estructura.driver}"/>
        <property name="url" value="${estructura.url}"/>
        <property name="username" value="${estructura.username}"/>
        <property name="password" value="${estructura.password}"/>
    </bean>
    <bean id="transactionManagerDB2" 
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceDB2"/>
    </bean>
    <!--ARCA-->
    <bean id="dataSourceSqlServer" class = "com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${arca.driver}" />
        <property name="jdbcUrl" value="${arca.url}" />
        <property name="user" value="${arca.username}" />
        <property name="password" value="${arca.password}" /> 
         <!--propiedades C3P0--> 
        <property name="acquireIncrement" value="3" />
        <property name="minPoolSize" value="0" />
        <property name="maxPoolSize" value="15" />
        <property name="maxStatementsPerConnection" value="100" />
        
        <property name="maxIdleTime" value="1200"/>
        <property name="maxIdleTimeExcessConnections" value="600"/>
        <property name="maxConnectionAge" value="420"/>
    </bean>
    <bean id="transactionManagerSqlServer" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceSqlServer"/>
    </bean>
    <!--Repository de Spring-Batch-->
    <bean id="data_source_batch" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
        <property name="dataSourceName" value="ds-batch"/>
        <property name="URL" value="${batch.url}"/>
        <property name="user" value="${batch.user}"/>
        <property name="password" value="${batch.password}"/>
        <property name="connectionCachingEnabled" value="true"/>
        <property name="connectionCacheProperties">
            <value>
                MinLimit:1
                MaxLimit:30
                InitialLimit:1
                ConnectionWaitTimeout:120
                InactivityTimeout:180
                AbandonedConnectionTimeout:60
                ClosestConnectionMatch:true
            </value>
        </property>
    </bean>
    <bean id="transactionManager-batch" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="data_source_batch"/>
    </bean>
    <!--rfc ampliado-->
    <bean id="dataSourceAmpliado" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
        <property name="dataSourceName" value="ds"/>
        <property name="URL" value="${rfc.url}"/>
        <property name="user" value="${rfc.user}"/>
        <property name="password" value="${rfc.password}"/>
        <property name="connectionCachingEnabled" value="true"/>
        <property name="connectionCacheProperties">
            <value>
                MinLimit:1
                MaxLimit:30
                InitialLimit:1
                ConnectionWaitTimeout:120
                InactivityTimeout:180
                AbandonedConnectionTimeout:60
                ClosestConnectionMatch:true
            </value>
        </property>
    </bean>
    <bean id="transactionManager-rfcAmpliado" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceAmpliado"/>
    </bean>

    <bean id="dataSourceAdm" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="${adm.url}"/>
        <property name="username" value="${adm.user}"/>
        <property name="password" value="${adm.password}"/>
    </bean>
    
</beans>